body
{
    font-family: 'Releway', Arial, Helvetica, sans-serif;
}

#bloc_page
{
    max-width: 1420px;
    margin: auto;
}

.populaires , .hebergements , footer
{
    background-color: #f2f2f2;
}

h1, h2, h3 
{
    font-weight: bold;
}

nav ul, ol 
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
}

section
{
    border-radius: 15px;
}

.nom_hotel, .activites figcaption
{
    font-weight: bold;
    font-size: 80%;
    margin-bottom: 10px;
}

.Prix
{
    font-size: 70%;
}

.logo
{
    position: relative ;
    max-width: 25%;
    height: auto;
}

nav ul
{
    display: flex;
     
}

header
{
    display: flex;
    justify-content: space-between;
}

.inscription
{
    font-weight: bold;
    color: #0065fc;
}

header a:hover
{
    color: #0065fc;
    text-decoration: overline;
}

header nav li
{
    margin-left: 75px;
}

form
{
    display: flex;
}

#map_marker
{
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
}

#loupe
{
    display: none;
}

input
{
    border: none;
    font-weight: bold;
    border-top: solid #f2f2f2 1px;
    border-bottom: solid #f2f2f2 1px;
}

.recherche button
{
    color: white;
    background-color: #0065fc;
    border-radius: 0px 10px 10px 0px;
    border: none;
    padding: 10px;
    height: 100%;
    
}

.filtres i
{
    color: #0065fc;
    background-color: #deebff;
    border-radius: 30px;
    padding:10px;
}

.filtres button
{
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    border-color: #f2f2f2;
    margin-left: 15px;
    padding: 0px;
    padding-right: 10px;
}

.filtres p :hover
{
    background-color: #deebff;
}

.filtres
{
    display: flex;
}

.info i
{
    color:white;
    background-color: #0065fc;
    border-radius: 30px;
    border: 1px solid #f2f2f2;

}

.Locations
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

}

.populaires
{
    width: 24%;
    margin-inline-start: auto;
    padding-bottom: 2px;
    margin-left: 30px;
}

.Titre
{
    display: flex;
    margin: 15px;
}

h2
{
    font-size: 15px;
    padding: 0px 20px 0px 20px;
}

#chart-line
{
    margin: 12.450px 0px 12.45px 0px;
    margin-left: auto;
    padding-right: 10px;
}

.carte_populaires
{
    background-color: white;
    border-radius: 15px;
    margin: 10px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
}

.populaires figure
{
    display: flex;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}

.populaires figcaption
{
    padding-left: 10px;
}

.populaires img
{
    width: 107px;
    height: 105px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.populaires .stars
{
  margin-top: 35px;  
}

.stars
{
    color: #0065fc;
}

.hebergements
{
    width: 60%;
    padding-bottom: 2px;
}

.Cartes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.carte_hebergements
{
    background-color: white;
    border-radius: 15px;
    width: 26%;
    height: 160px;
    margin: 15px;
}

.hebergements figure
{
    margin: 5px;
}

.hebergements img
{
    width: 100%;
    height: 90px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    object-position: 0px -21px ;
}

.hebergements button
{
    border: none;
    font-weight: bold;
    padding: 20px;
}

.hebergements h2
{
    padding-top: 10px;
}

.hebergements .stars
{
    margin-top: 5px;
}



















footer
{
    display: flex;
    justify-content: space-between;
}