body
{
    font-family: 'Releway', Arial, Helvetica, sans-serif;
}

#bloc_page
{
    max-width: unset;
    min-width: unset;
    margin: auto;
}

.populaires , .hebergements , footer
{
    background-color: #f2f2f2;
}

h1, h2, h3 
{
    font-weight: bold;
}

nav ul, ol 
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
}

section
{
    border-radius: 15px;
}

.nom_hotel, .activites figcaption
{
    font-weight: bold;
    font-size: 90%;
    margin-bottom: 10px;
}

.Prix
{
    font-size: 80%;
}

.logo
{
    width: 25%;
}

nav ul
{
    display: flex;
     
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inscription a 
{
    font-weight: bold;
    color: #0065fc;
}

a#ancre_hebergements:hover
{
    color: #0065fc;
    border-top: 2px solid;
    padding-top: 38px;
}

a#ancre_activites:hover
{
    color: #0065fc;
    border-top: 2px solid;
    padding-top: 38px;  
}


header a
{
    padding: 32px;
}

main
{
    margin: 0px 30px;
}

form
{
    display: flex;
    width: 30%;
}

#map_marker
{
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
    padding: 14px;
}

#loupe
{
    display: none;

}

input
{
    border: none;
    font-weight: bold;
    border-top: solid #f2f2f2 1px;
    border-bottom: solid #f2f2f2 1px;
    width: 55%;
    padding-left: 13px;
    font-size: 14px;
}

.recherche button
{
    color: white;
    background-color: #0065fc;
    border-radius: 0px 10px 10px 0px;
    border: none;
    padding: 10px;
    height: 100%;
    width: 35%;
    font-size: 17px;
    
}

.filtres i
{
    color: #0065fc;
    background-color: #deebff;
    border-radius: 30px;
    padding:10px;
    margin-right: 15px;
}

.filtres button
{
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    border-color: #f2f2f2;
    margin-left: 15px;
    padding: 0px 45px 0px 0px;
    font-size: 14px;
}

.filtres p :hover
{
    background-color: #deebff;
}

.filtres
{
    display: flex;
    width: 70%;
    align-items: center;
}

.info i
{
    color:white;
    background-color: #0065fc;
    border-radius: 30px;
    border: 1px solid #f2f2f2;

}

.Locations
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 35px;

}

.populaires
{
    width: 24%;
    margin-inline-start: auto;
    padding-bottom: 2px;
    margin-left: 30px;
}

.Titre
{
    display: flex;
    margin: 15px;
}

h2
{
    font-size: 15px;
}

#chart-line
{
    margin: 12.450px 0px 12.45px 0px;
    margin-left: auto;
    padding-right: 10px;
}

.carte_populaires
{
    background-color: white;
    border-radius: 15px;
    margin: 10px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
}

.populaires figure
{
    display: flex;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}

.populaires figcaption
{
    padding-left: 10px;
}

.populaires img
{
    width: 107px;
    height: 105px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.populaires .stars
{
  margin-top: 35px;  
}

.stars
{
    color: #0065fc;
}

.hebergements
{
    width: 70%;
    padding-bottom: 2px;
}

.Cartes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.carte_hebergements
{
    background-color: white;
    border-radius: 15px;
    width: 29%;
    height: 180px;
    margin: 15px;
}

.hebergements figure
{
    margin: 5px;
}

.hebergements img
{
    width: 100%;
    height: 109px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    object-position: center;
}

.hebergements button
{
    border: none;
    font-weight: bold;
    padding: 20px;
    border-radius: 15px;
    background-color: #f2f2f2
}

.hebergements h2
{
    padding-top: 10px;
    padding-left: 20px;
}

.hebergements .stars
{
    margin-top: 5px;
}

.activites
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 150px 30px 30px 150px 30px;
    margin-top: 30px;
    grid-column-gap: 30px;
    width: calc(99% - 30px);
    margin: auto;
}

.carte_activites
{
    box-shadow: 2px 2px 10px #f2f2f2;
    border-radius: 15px;
}

.activites figure
{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.carte_activites img
{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    object-fit: cover;
}

#vieux_port
{
    grid-column: 1/2;
    grid-row: 2/6;
}

#fort_pomegues
{
    grid-column: 2/3;
    grid-row: 2/4;
}

#ile_frioul
{
    grid-column: 2/3;
    grid-row: 5/6;
}

#parc_national
{
    grid-column: 3/4;
    grid-row: 2/6;
}

#notre_dame
{
    grid-column: 4/5;
    grid-row: 2/3;
}

#parc_longchamps
{
    grid-column: 4/5;
    grid-row: 4/6;
}

#vieux_port img
{
    height: 87%;
}

#fort_pomegues img
{
    height: 135px;
}

#ile_frioul img
{
    height: 100px;
}

#parc_national img
{
    height: 87%;
}

#notre_dame img
{
    height: 100px;
}

#parc_longchamps img
{
    height: 135px;
}

.activites figcaption
{
    margin: 10px;
}

footer
{
    display: flex;
}

footer h3
{
    font-size: 15px;
    margin-left: 40px;
}

footer nav
{
margin-right: 214px;
}

footer nav ol
{
    font-size: 15px;
}

footer nav ol li
{
    margin-bottom: 10px;
}

@media only screen and (max-width: 991px)
{
    #bloc_page
    {
        min-width: 600px;
        width: auto;
    }

    header
    {
        flex-direction: column;
        position: relative;
    }

    header nav
    {
        width: 100%;
    }

    header nav ul 
    {
        width: 100%;
        border-bottom: solid 5px #f2f2f2;
        padding: 15px 0px 15px 0px;
    }

    #inscription
    {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 35px;
    }

    header nav ul li:nth-child(1), header nav ul li:nth-child(2)
    {
        width: 50%;
        text-align: center;
    }


    #ancre_hebergements, #ancre_activites
    {
        
        font-size: 15px;
        padding: 0;
    }

    a#ancre_hebergements:hover
    {
        border-bottom: 5px solid;
        padding-bottom: 15px;
        border-top: none;
        padding-top: 0px;   
    }

    a#ancre_activites:hover
    {
        border-bottom: 5px solid;
        padding-bottom: 15px;
        border-top: none;
        padding-top: 0px;    
    }

    main 
    {
        width: 100%;
        margin: auto;
    }

    .top h1 
    {
        font-size: 22px;
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .top p 
    {
        font-size: 15px;
        width: 100%;
    }

    form 
    {
        width: 90%;
        text-align: center;
        margin: auto;

    }

    #map_marker
    {
        width: 17%;
        padding: 15px 0px;
        font-size: 20px;
    }

    input 
    {
        width: 75%;
        font-size: 15px;
    }

    .recherche button 
    {
        width: 16%;
        font-size: 15px;
        height: 50px;
        border-radius: 10px;
    }

    #loupe
    {
        display: contents;
    }

    #recherche
    {
        display: none;
    }

    .filtres
    {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .filtres p 
    {
        width: 100%;
        margin-top: 0px;
    }

    .filtres h3
    {
        font-size: 19px;
    }

    .filtres button 
    {
        font-size: 15px;
        margin: 10px;
    }
    
    #Economique 
    {

        border-radius: 30px;
    }

    #Economique i 
    {
        padding: 14px;
    }

    #Familial
    {
        border-radius: 40px;   
    }

    #Familial i 
    {
        padding: 14px 19px;
    }

    #Romantique
    {
        border-radius: 25px;
    }

    #Romantique i 
    {
        padding: 14px;
    }

    #Animaux_autorises
    {
        border-radius: 30px;
    }

    #Animaux_autorises i 
    {
        padding: 14px;
    }

    .info
    {
        font-size: 15px;
    }

    .info p 
    {
        display: flex;
        align-items: flex-start;
    }

    section 
    {
        border-radius: 0px;
    }

    .Locations
    {
        flex-direction: column;
    }

    .populaires, .hebergements, .activites
    {
        width: 100%;
        margin: auto;
    }

    h2
    {
        font-size: 20px;
    }

    #chart-line
    {
        font-size: 20px;
        margin-top: 16.6px;
    }

    .carte_populaires
    {
        height: 252px;
    }

    .populaires a 
    {
        width: 100%;
        height: 100%;
    }

    .populaires img 
    {
        width: 40%;
        height: 100%;
    }

    .populaires figcaption
    {
        width: 60%;
    }

    .hebergements
    {
        background-color: white;
    }

    .Cartes
    {
        width: 100%;
    }

    .carte_hebergements
    {
        width: 90%;
        height: 330px;
        box-shadow: 2px 2px 10px #f2f2f2;
        border-radius: 15px;
    }

    .hebergements figure 
    {
        width: 100%;
        box-sizing: border-box;
        padding: 5px;  
        margin: auto;
    }

    .hebergements img 
    {
        height: 190px;
    }

    .hebergements figcaption 
    {
        padding: 10px;
    }

    .hebergements .stars
    {
        font-size: 15px;
        padding-top: 5px;
    }

    .hebergements button 
    {
        font-size: 17px;
        background-color: white;
        padding: 40px;
    }

    .activites
    {
        display: flex;
        flex-wrap: wrap;
    }

    .activites h2 
    {
        padding-left: 20px;
    }

    .carte_activites
    {
        width: 90%;
        height: 330px;
        margin: auto;
        margin-top: 30px;
    }

    .activites figcaption
    {
        font-size: 15px;
        padding: 18px;
    }

    #vieux_port img, #fort_pomegues img, #ile_frioul img, #parc_national img, #notre_dame img, #parc_longchamps img
    {
        height: 236px;
    }

    footer 
    {
        flex-direction: column;
        margin-top: 60px;
    }
    
    footer h3 
    {
       margin: 0;
    }

    footer nav 
    {
        margin-left: 30px;
    }

    footer li 
    {
        font-size: 15px;
    }
}

    @media only screen and (max-width:  599px) 
    {
        #bloc_page

        {
            max-width: 599px;
            min-width: unset;
        }

        header
        {
            width: 100%;
        }

        header nav 
        {
            width: 100%;
        }

        .carte_populaires
        {
            height: 146px;
        }

        .carte_hebergements
        {
            height: 230px;
        }

        
        .hebergements img 
        {
            height: 109px;
        }

        .carte_activites
        {
            height: 190px;
        }

        #vieux_port img, #fort_pomegues img, #ile_frioul img, #parc_national img, #notre_dame img, #parc_longchamps img
        {
            height: 130px;
        }

        footer 
        {
            width: 100%;
        }

        footer nav
        {
           margin: 0; 
           width: 100%;
        }

        footer ol 
        {
            padding:0;
        }
    }